<!-- Begin Location Section -->
<section id="location-map-cm" class="location-map">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitlecm }}</h3>
                    <ul>
                        {% if site.eventLocationNamecm %}<li>{{ site.eventLocationNamecm }}</li>{% endif %}
                        <li>{{ site.eventStreetAddresscm }}, {{ site.eventAddressLocalitycm }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li>
                            {% assign startTime = site.eventStartTime | split: "T" %}
                            <time>{{ startTime[1] }}</time> -
                            {% assign endTime = site.eventEndTime | split: "T" %}
                            <time>{{ endTime[1] }}</time>
                        </li>
                    </ul>
                </div>
                <a href="https://goo.gl/maps/sAcxMXD353r" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
                <a href="https://maps.google.com/maps?ll={{ site.locationBlockTitlecm | replace:' ',''}}&z=17&t=m&hl=en-US&gl=US&mapclient=embed&q={{ site.eventStreetAddresscm | replace:' ','%20' | replace:',','%2C'}}%2C%20{{ site.eventAddressLocalitycm | replace:' ','%20' | replace:',','%2C'}}" class="view-on-map" target="_blank">{{ site.viewOnMap }}</a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->